.flexbox {
    justify-content: space-around;
}

.btn {
    background: #999999;
    background-image: linear-gradient(to bottom, #999999, #333333);
    border-radius: 56px;
    font-family: Arial;
    color: #ffffff;
    text-decoration: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.btn:hover {
    background: #cccccc;
    background-image: linear-gradient(to bottom, #cccccc, #666666);
    text-decoration: none;
}

.btn-large {
    font-size: 40px;
    padding: 20px 40px 20px 40px;
}

.btn-small {
    font-size: 40px;
    padding: 10px 40px 10px 40px;
	min-width: 125px;
}

div.icons {
	position: absolute;
	top: 0px;
	right: 0px;
	color: gray;
	font-size: 4em;
	margin: 0.25em;
}

.odometer {
    font-family: monospace;
    display: block;
    float: left;
    font-size: 4em;
    line-height: 1.2em;
}

.odometer span.digit {
    background: #161616;
    background: #3F3F3F;
    background: linear-gradient(bottom, #0A0A0A 0%, #2B2B2B 50%, #3F3F3F 100%);
	border-radius: 0.1em;
    background-clip: border;
    color: #FFF;
    display: block;
    float: left;
    height: 88px;
    margin: 0 2px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    width: 60px;
}

.odometer span.digit span {
    line-height: 88px;
    position: relative;
    top: 0;
}

.odometer span.digit hr {
    border-color: transparent;
    box-shadow: inset 0 4px 2px rgba(0, 0, 0, 0.5);
    height: 6px;
    margin: -4px 0 0 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
}

#btnSetup {
	margin-left: 0px;
	padding-top: 14px;
	padding-bottom: 6px;
}
